:root {
  --el-color-white: #fff;

  // base color
  --blue: #324157;
  --light-blue: #3A71A8;
  --red: #C03639;
  --pink: #E65D6E;
  --green: #30B08F;
  --tiffany: #4AB7BD;
  --yellow: #FEC171;
  --pan-green: #30B08F;

  // sidebar
  --menu-text: #1f2937;
  --menu-active-text: #5340E8;
  --sub-menu-active-text: #f4f4f5; // https://github.com/ElemeFE/element/issues/12951

  --menu-bg: #ffffff;
  --menu-hover: rgba(0, 0, 0, 0.04);

  --sub-menu-bg: #ffffff;
  --sub-menu-hover: rgba(0, 0, 0, 0.04);

  --side-bar-width: 210px;
}